// 全局样式 - 从 BattleScribe 原版恢复

// 基础 HTML 元素样式
html {
  font-family: sans-serif;
  overscroll-behavior: none;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-blue, #006199);
}

form, pre {
  margin: 0;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;
}

h1, h2 {
  font-size: 18px;
  margin-top: 0;
}

h1, h2, h5 {
  margin-bottom: 0;
}

h5 {
  font-size: 16px;
  margin-top: 10;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid var(--box-border, #aaa);
  padding: 5px;
  text-align: center;
}

table th {
  padding-left: 5px;
  padding-right: 5px;
}

table.dataTable tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.06);
}

table.dataTable tr {
  position: relative;
}

.dataTable tr:hover,
.highlight:hover:after {
  background: var(--hover-darken-color, rgba(0, 0, 0, 0.15));
}

.highlight:hover:after {
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

p {
  margin-top: 0;
  text-align: justify;
}

// 盒子样式
.box {
  border: 1px solid var(--box-border, #aaa);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  padding: 10px;
}

// 输入框样式
.inputlike {
  background-color: var(--input-background);
  background-repeat: no-repeat;
  border-color: var(--box-border, #aaa) !important;
  border-style: solid;
  border-width: 1px !important;
  box-sizing: border-box;
  color: var(--font-color);
  cursor: text;
  font-weight: 400;
  list-style-type: none;
}

.inputlike:hover {
  filter: brightness(110%);
}

// 按钮样式
.bouton,
.dg-btn--cancel,
.dg-btn--ok,
.inputstyle {
  background-repeat: no-repeat;
  border-color: var(--box-border, #aaa) !important;
  border-style: solid;
  border-width: 1px !important;
  box-shadow: 2px 2px 5px -2px var(--box-border, #aaa);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 33px;
  list-style-type: none;
  position: relative;
  text-align: center !important;
  text-decoration: none;
}

.bouton:hover,
.dg-btn--cancel:hover,
.dg-btn--ok:hover,
.inputstyle:hover {
  filter: brightness(110%);
}

.bouton,
.dg-btn--cancel,
.dg-btn--ok {
  padding: 5px;
  width: 250px;
}

.hidden {
  display: none;
}

// 标题样式
h3 {
  margin: 0;
}

h3 > img {
  margin-right: 3px;
}

h3 img {
  vertical-align: middle;
}

h3.titreCategory {
  background: var(--title);
  color: var(--font-color-title) !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
}

h3.titreCategory,
h3.titreForce {
  font-size: min(max(var(--fontHeaderSize, 16px), 12px), 40px);
}

h3.titreForce {
  background: var(--forces_background);
  border: 1px solid var(--box-border, #aaa);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--font-color-forces) !important;
}

@media screen and (min-width: 486px) {
  h3.titreForce {
    padding: 5px;
  }
}

@media screen and (max-width: 770px) {
  h3.titreForce {
    border-left: none;
    border-radius: 0;
    border-right: none;
  }
}

h3.titreTeam {
  background: var(--title);
  color: var(--font-color-title) !important;
}

// 按钮图片
.imageBouton {
  padding-left: 30px;
}

.boutonPlus {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wcODic7b6se5AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEgSURBVDjLtZOxTsMwFEWvk2eaEokSVVUUUTEFscLGxIzEzCfAytcwMTP1N5gYCBOiYgGpqsTIEIXYTswQgYdje0Dt3Xz9fPV8/Mxg6HI2JcYg4ZDW4LcXC7XqkVlUfykWDQlHhwe9gKf5K8pSMtMPsAb1Qt4ePpXvQFF89PbpajYlWSsmhG4BoK4E94XkeTzIbxpJgzAAgPFoVxMYJI8IPOqK4h1vBrIsqXqdALBCBIAWDQKEv2sX7MAPLPwf2LW8zsZDGLOX0w8cUzaIxcvcHqI1eFkqJmU3J0oIPknjytXN8/tiyLcgI+rmZG+cajI/0/412rM0dl7p/hE17qCBpumc5YbAnhwn5DtwfsrJCnZVo3hbu2ADQJZMNLD8430DxUxYqJ3Wfq0AAAAASUVORK5CYII=");
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

.boutonMinus {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9bpUUrDnYo4pChOlkQK+KoVShChVArtOpgcukXNGlIUlwcBdeCgx+LVQcXZ10dXAVB8APEzc1J0UVK/F9SaBHjwXE/3t173L0D/M0qU82eCUDVLCOTSgq5/KoQfEUQIfQjioTETH1OFNPwHF/38PH1Ls6zvM/9OQaUgskAn0A8y3TDIt4gnt60dM77xBFWlhTic+Jxgy5I/Mh12eU3ziWH/TwzYmQz88QRYqHUxXIXs7KhEk8RxxRVo3x/zmWF8xZntVpn7XvyF4YL2soy12mOIIVFLEGEABl1VFCFhTitGikmMrSf9PAPO36RXDK5KmDkWEANKiTHD/4Hv7s1i4lJNymcBHpfbPtjFAjuAq2GbX8f23brBAg8A1dax19rAjOfpDc6WuwIGNwGLq47mrwHXO4A0SddMiRHCtD0F4vA+xl9Ux4YugX61tze2vs4fQCy1FX6Bjg4BMZKlL3u8e5Qd2//nmn39wNou3KjZIA2SQAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+UHCAsdEBNHR/cAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAaklEQVQoz6XPIQ6DUBBF0fvG/JAG0eQLugH2UY9nKyyJhSAaHBrRTUyCHERVJcNdwMt5Ynjrs6wPDIzgSlv3OrQXRmAmUYjJQjxJpqCaAmUHQmChi8f/BdwT8BN4WgCupbZNde8zA17K9wReERpRqNWzOAAAAABJRU5ErkJggg==");
  background-position: 7px 12px;
  background-repeat: no-repeat;
}

// 输入控件样式
.autocomplete-input,
.iconselect-input,
a.bouton,
button[class=bouton],
input[role=combobox],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
input[type=time],
select {
  align-content: center;
  border: 1px solid var(--box-border, #aaa);
  box-shadow: 2px 2px 5px -2px var(--box-border, #aaa);
  box-sizing: border-box;
  cursor: pointer;
  height: 33px;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

select.multiple {
  align-content: unset;
  padding: 5px;
}

input[type=radio] {
  width: auto !important;
}

// 图片按钮
.imgBt {
  cursor: pointer;
}

.imgBt:hover {
  filter: brightness(var(--hover-darken-pct, 85%));
}

.imgBt:hover,
img.imgBt:hover {
  background-color: var(--hover-darken-color, rgba(0, 0, 0, 0.15));
  border-radius: 4px !important;
}

.imgBt * img,
.imgBt > img,
img.imgBt {
  filter: var(--image-filter) !important;
}

.boutons * {
  width: auto;
}

.boutons {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.align-left {
  text-align: left;
}

.centered {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
}

@media screen and (min-width: 486px) {
  .boutons.vertical {
    grid-template-columns: auto;
  }

  .boutons.vertical .autocomplete-input,
  .boutons.vertical .iconselect-input,
  .boutons.vertical a.bouton,
  .boutons.vertical button.bouton,
  .boutons.vertical input[role=combobox],
  .boutons.vertical input[type=date],
  .boutons.vertical input[type=email],
  .boutons.vertical input[type=number],
  .boutons.vertical input[type=password],
  .boutons.vertical input[type=range],
  .boutons.vertical input[type=search],
  .boutons.vertical input[type=text],
  .boutons.vertical input[type=time],
  .boutons.vertical select {
    height: 33px;
    max-width: 250px;
  }
}

@media screen and (max-width: 770px) {
  .box {
    padding: 5px;
  }

  table {
    min-width: unset !important;
    width: 100%;
  }

  img.print {
    display: none;
  }

  .centered {
    grid-template-columns: auto;
    justify-content: unset;
  }

  .centered * {
    width: auto;
  }
}

// 表单样式
.form {
  gap: 10px 5px;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: max-content max-content;
}

.form .label {
  grid-column: 1;
}

.form .input {
  display: grid;
  grid-column: 2;
}

.form .input label {
  font-weight: 700;
}

.form > .form {
  grid-column: 1 / 3;
}

.textbf {
  font-weight: 700;
}

.section {
  margin-top: 10px !important;
}

.bigCheck {
  height: 16px;
  width: 16px;
}

// 规则标题
h1.ruleTitle {
  font-size: 20px;
}

h2.ruleTitle {
  font-size: 18px;
  margin-top: 10px;
}

h3.ruleTitle {
  font-size: 16px;
  margin-top: 10px;
}

.fluff p {
  font-style: italic;
}

.dg-btn--cancel,
.dg-btn--ok {
  background-color: #fff;
  color: #000;
  width: auto;
}

.listsIcon {
  filter: brightness(1.3) contrast(1.6);
}

.bouton > img {
  left: 5px;
  max-height: 20px;
  position: absolute;
  top: 6px;
}

input:invalid {
  border-color: var(--color-red);
  border-width: 2px;
}

// 字体
@font-face {
  font-display: block;
  font-family: Teko-Bold;
  src: local("Teko Bold"), local("Teko-Bold"), url(./Teko-SemiBold.ttf);
}

@font-face {
  font-display: block;
  font-family: Bahnschrift;
  src: local("Bahnschrift"), url(./Bahnschrift.ttf);
}

// Wiki 样式
.wiki {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.wiki h1 {
  margin-bottom: 10px;
}

.wiki h2,
.wiki h3 {
  margin-top: 10px;
}

// 工具类
.italic, i {
  font-style: var(--italic, "italic");
}

.bold {
  font-weight: 700;
}

.inline {
  display: inline;
}

.gray, .grey {
  color: gray;
}

.nowrap {
  white-space: nowrap;
}

.mono {
  font-family: monospace;
}

.sizedButton button {
  width: 250px !important;
}

input {
  color: var(--font-color);
}

.unselectable,
img,
svg {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.precision {
  color: var(--color-gray);
  font-style: var(--italic, "italic");
  font-weight: 400 !important;
  text-shadow: none;
}

// Popup 样式
h3.popup {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  margin-top: 0;
  padding: 2px 2px 2px 5px;
  text-align: left;
}

.winner {
  color: #439943;
}

.loser {
  color: #e64e4e;
}

.draw {
  color: #6b6b6b;
}

// Hover 效果
.hover-darken:hover {
  background-color: var(--hover-darken-color, rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  filter: brightness(var(--hover-darken-pct, 85%));
}

.hover-brighten:hover {
  background-color: var(--hover-brighten-color, hsla(0, 0%, 100%, 0.15));
  filter: brightness(var(--hover-brighten-pct, 115%));
}

.hover-slightly-darken:hover {
  background-color: var(--hover-slightly-darken-color, rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  filter: brightness(var(--hover-darken-pct, 95%));
}

.hover-underline:hover,
.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.hastooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

html.dark .scrollable {
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
}

.border {
  border: 1px solid var(--box-border, #aaa);
  border-collapse: collapse;
}

.bg {
  background-color: var(--bg);
}

.text {
  color: var(--font-color);
}

input[type=text]:disabled {
  border-color: var(--box-border, #aaa);
  color: var(--color-gray);
}

input[type=text]:invalid {
  border-color: var(--color-red);
  border-width: 2px;
}

// 打印样式
@media print {
  .printer-hidden,
  body > :not(.printable) {
    display: none;
  }
}

// 动画
@keyframes blink {
  0%, 2%, 4%, 6%, 8%, to { opacity: 1; }
  1%, 3%, 5%, 7% { opacity: 0; }
  10%, to { opacity: 1; }
}

.blink {
  animation: blink 3s infinite;
}

.row {
  display: flex;
  flex-direction: row;
}

// 全局应用样式
#app {
  height: 100%;
  padding: 0 !important;
  position: fixed;
  width: 100%;
}

html {
  background-color: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
  background-image: linear-gradient(
    rgba(var(--bg-r), var(--bg-g), var(--bg-b), var(--bg-a)),
    rgba(var(--bg-r), var(--bg-g), var(--bg-b), var(--bg-a))
  );
  background-size: var(--backgroundSize);
  color: var(--font-color);
  filter: var(--global-filter);
  font-family: sans-serif;
}

img.icon,
img.imgBt,
svg.icon {
  filter: var(--image-filter);
}

.bouton {
  color: var(--font-color) !important;
}

.bouton:hover,
button:hover,
input:hover {
  border-color: var(--input-highlights, #0063fb) !important;
}

button:hover,
input:hover {
  filter: brightness(110%);
}

select:hover {
  border-color: var(--input-highlights, #0063fb);
}

.autocomplete-input,
a.bouton,
button,
input[role=combobox],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
select,
textarea {
  background-color: var(--input-background);
  border-radius: var(--input-radius);
  color: var(--font-color);
}

body {
  font-family: var(--font, sans-serif);
  font-size: min(max(var(--fontSize, 16px), 12px), 40px);
}

.bouton,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  font-family: var(--fontButton, sans-serif) !important;
  font-size: min(max(var(--fontButtonSize, 16px), 12px), 40px) !important;
  font-weight: 700;
}

// 文本颜色类
.optName,
.unitName {
  color: var(--color-blue);
  font-weight: 700;
}

.warning {
  color: #805300;
  font-weight: 700;
}

.error {
  color: var(--color-red);
  font-weight: 700;
}

.message {
  color: var(--color-lightblue);
  font-weight: 700;
}

.autocomplete-input,
a.bouton,
button[class=bouton],
input[role=combobox],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
select {
  font-family: var(--fontButton, sans-serif) !important;
  font-size: min(max(var(--fontButtonSize, 16px), 12px), 40px) !important;
}

.autocomplete-input {
  align-items: center;
  display: flex;
}

.date {
  color: var(--color-gray);
  font-size: 16px;
  font-style: italic;
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.gray, .grey {
  color: var(--color-gray);
}

.conditional {
  color: var(--color-green) !important;
}

p.info {
  border: 1px dashed #000;
  border-radius: 10px;
  color: var(--color-gray);
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  position: relative;
  width: fit-content;
}

p.info:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AIaDCEafIICUgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAG+SURBVDjLfZNPbxJRFMV/7zGOpRSt0qRpKFVs/BMssab7tgttAibzAfwURA0rv4Bu2sS46KoL15pIUuiiJi5c6MoKuhotNaZNDaABIVMi8Fz0VYeB8Szvfee8e2/OEXhwuVAKAneAW0Bcl8vANrBpp5KO+734S8yXQGABay6iF3tABnov7dQNACTAbKEIgnvACy95KWSynpgiYRoAF4HnIO9f2Sr9E5AIC3gMBLxf3r0QYXkmws3w6ZNSAHikFBaA0Dt/8ht7MWSycDbIk4M6nf5WGdR1Qx9sgGwKyMbOsxQd591hw0vmmCPShr52H8JS8HQuSuzMCNGxET5Wmz435bYc9nv8VICNLxXef2+ggDeVX34CcTmsWmx3eN1qMzcxRqPdYat+5CeA1CYZwDXTYDoc5PPPJi2l/Pi7UjtsACuREIYUfKi2+A+2JYrNYVMkzo2igJ2Gw4PpcSKBgW3LQF7a6aRzbE+67u5k0EQAD+dnqB51qHV77nYXyNippGPoSORAZd1uLHz7wX6rzbOvNd46v73krFS9XF+YruaL9ISwgFXgks/OZT1tzk4l+9PoiXNaG+xEaBd4NSzOfwAVZ4RYtS6UJgAAAABJRU5ErkJggg==") " ";
  left: -8px;
  position: absolute;
  top: -5px;
}

p.hidden {
  display: none;
}

button.bouton[disabled] {
  color: var(--color-gray) !important;
  cursor: auto !important;
}

button.bouton[disabled]:hover {
  border-color: var(--box-border, #aaa) !important;
  filter: none;
}

// 花费显示
.cost {
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  color: var(--cost-color);
  font-weight: 400 !important;
  margin-right: 7px;
  padding: 1px 2px;
}

.cost:last-child:after {
  content: "" !important;
}

.costList {
  color: var(--color-gray);
  font-weight: 400;
  white-space: nowrap;
}

.costList.error:after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFKSURBVDhPpZLBSgJRFIbvuTtHXyBaWEG0TRxFCAJd9B6B4CLoXaKVLVr4FK3GTRGEMwvXYYPQI1TQ4D2d/3gVnEFh7IPBc37mHD2/P5kcH63WuVssBmxMT9pjaESUOmPGhnl4miQJtBXrBfNOp/KbZXdS9kUsLAaylGXJY4Xo9jCOv6Hpi374SZpL9CuOosgYa03a7cqojHsc80tAdIUlFgK+OT8MbK2mTx5LdPHDfK81bpbPPppSEF2/NxqhhWHbbt6FzhANrHd7L2RJDx7oX7UndTXxP4ihlPq6NHL+3Drnxr4vMGu3zSwMNzKQI7Li5FATVh5eED1YzbbE04sbnEwm+mxhdBbHb2oiss3Mzyp7bLXqq2Uic7wGWXaDYh2gz2Yz0HhKwnYEC6eOMHwwnX5BKLyIeCJhCIm0dWjqthiWyc342dCWGPMHCdh2fZxOhd0AAAAASUVORK5CYII=") !important;
  margin-right: 3px;
  vertical-align: -2px;
}

.titleCosts .costList {
  margin-right: 20px;
}

// 响应式
@media screen and (max-width: 1200px) {
  .hideOnSmallScreen {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hideOnLargeScreen {
    display: none;
  }
}

// 滚动条
html ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

html ::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
}

html ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.3);
}

html.dark ::-webkit-scrollbar-thumb:active {
  background: hsla(0, 0%, 100%, 0.4);
}

html.dark ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

fieldset {
  border: 1px solid var(--box-border, #aaa);
}

table {
  border-color: var(--box-border, #aaa);
}

.arrowTitle {
  font-size: min(max(var(--fontHeaderSize, 16px), 12px), 40px) !important;
}

.arrowTitle,
.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontHeader, sans-serif) !important;
  text-transform: var(--fontHeaderTransform, "none");
}

.info {
  margin-left: 10px;
}
